@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nanum+Brush+Script&display=swap');

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Instrument Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background-color: #f4f4f4;
  color: #000000;
}